body {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
  position: relative;
  background-image: url("../img/bg.png");
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in; }
  body * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

a {
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: inherit; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

button {
  cursor: pointer;
  font-family: 'Lato', sans-serif; }

textarea,
input {
  font-family: 'Lato', sans-serif; }

label {
  cursor: pointer; }
  label:focus, label:hover, label:active {
    outline: 0;
    outline-offset: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }

section {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

select, input, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: transparent; }

.content-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  left: 0; }

.page-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
      -ms-flex: 1 1;
          flex: 1 1; }

.footer-wrapper {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1;
      -ms-flex: 0 1;
          flex: 0 1; }

.box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative; }

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.text-center {
  text-align: center; }

.col-100 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%; }

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.row {
  min-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.col-50 {
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  -webkit-box-flex: 0; }

.col-25 {
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  -webkit-box-flex: 0; }

.col-40 {
  -webkit-flex: 0 0 40%;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
  -webkit-box-flex: 0; }

.col-60 {
  -webkit-flex: 0 0 60%;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%;
  -webkit-box-flex: 0; }

.col-70 {
  -webkit-flex: 0 0 70%;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  max-width: 70%;
  -webkit-box-flex: 0; }

.space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.ai-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.ai-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.ai-start {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.h-100 {
  height: 100%; }

.w-100 {
  width: 100%; }

.p-RL20 {
  padding: 0px 20px; }

.m0-auto {
  margin: 0 auto; }

.breadcrumbs {
  margin-bottom: 40px; }
  .breadcrumbs--elem {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 168.2%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #9C9C9C; }

.pagetitle {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 134.6%;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.custom-checkbox--container {
  position: relative; }
  .custom-checkbox--container .input--checkbox {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    z-index: 2; }
  .custom-checkbox--container .checbox--custom {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    border: 1px solid #C4C4C4;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 1; }
    .custom-checkbox--container .checbox--custom:after {
      content: url("../img/check.png");
      position: absolute;
      display: none;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .custom-checkbox--container .input--checkbox:checked ~ .checbox--custom:after {
    display: block; }

.link--btn {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 168.2%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  padding: 13px 39px;
  border: 1px solid #242424;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
  .link--btn:hover, .link--btn.active {
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    background: #000000;
    color: #ffffff; }

.footer--form {
  margin-bottom: 100px; }
  .footer--form__text {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 134.6%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-right: 35px; }
  .footer--form form {
    height: 40px;
    max-width: 500px;
    width: 100%;
    background: #FAFAFA;
    border: 0.7px solid #DBDADA;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: inset 0px -1px 5px rgba(0, 0, 0, 0.07);
            box-shadow: inset 0px -1px 5px rgba(0, 0, 0, 0.07);
    padding: 5px;
    position: relative; }
    .footer--form form:after {
      content: url("../img/form-leaf.png");
      position: absolute;
      right: -10%;
      top: -60%; }
    .footer--form form .footer--form__input {
      width: -webkit-calc(100% - 200px);
      width: calc(100% - 200px);
      height: 100%;
      padding: 0px 15px;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 123.6%;
      text-transform: uppercase;
      color: #9C9C9C; }
    .footer--form form .footer--form__btn {
      max-width: 200px;
      width: 100%;
      height: 100%;
      text-align: center;
      border-left: 1px solid #C4C4C4;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 123.6%;
      text-transform: uppercase;
      color: #5B5B5B; }

.footer {
  width: 100%;
  height: 200px;
  background: rgba(0, 0, 0, 0.07);
  padding: 25px 0px; }
  .footer__contacts {
    width: 25%; }
    .footer__contacts img {
      margin-right: 15px; }
    .footer__contacts .footer--text {
      width: 100%;
      margin-bottom: 5px;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 134.6%;
      text-transform: capitalize;
      text-transform: capitalize;
      color: #000000; }
  .footer__central {
    width: 50%; }
    .footer__central .footer--logo {
      margin-bottom: 10px; }
    .footer__central .footer--name {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 134.6%;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 10px; }
    .footer__central .footer--currency {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: #242424;
      margin-right: 30px; }
      .footer__central .footer--currency__active {
        cursor: pointer;
        position: relative; }
        .footer__central .footer--currency__active:after {
          content: url("../img/arrow-down.svg");
          position: absolute;
          right: -20px;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%); }
      .footer__central .footer--currency_list {
        display: none; }
    .footer__central .footer--lang {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: #242424; }
      .footer__central .footer--lang__active {
        cursor: pointer;
        position: relative; }
        .footer__central .footer--lang__active:after {
          content: url("../img/arrow-down.svg");
          position: absolute;
          right: -20px;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%); }
      .footer__central .footer--lang_list {
        display: none; }
    .footer__central .footer__menu {
      margin-bottom: 20px; }
      .footer__central .footer__menu .menu--item {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #242424;
        margin: 0px 10px; }
    .footer__central .footer--copyright {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      text-transform: capitalize;
      color: #242424; }
  .footer__right {
    width: 25%; }
    .footer__right--mail {
      margin-bottom: 20px;
      width: 100%;
      margin-bottom: 30px;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 134.6%;
      text-transform: capitalize;
      color: #000000; }
      .footer__right--mail img {
        margin-right: 20px;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0; }
    .footer__right--location {
      width: 100%;
      margin-bottom: 5px;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 134.6%;
      text-transform: capitalize;
      color: #000000; }
      .footer__right--location img {
        margin-right: 20px;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0; }

.header {
  width: 100%;
  height: 65px;
  border-bottom: 2px solid #E5E5E5;
  margin-bottom: 15px; }
  .header__menu {
    margin-left: 55px; }
    .header__menu .menu--item {
      margin-right: 20px;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: #5B5B5B; }
  .header__management {
    margin-left: auto; }
    .header__management .header--currency {
      margin-left: 15px;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: #9C9C9C;
      position: relative; }
      .header__management .header--currency__active {
        cursor: pointer;
        position: relative; }
        .header__management .header--currency__active:after {
          content: url("../img/arrow-down-top.svg");
          position: absolute;
          right: -20px;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%); }
      .header__management .header--currency .header--currency_list {
        display: none;
        position: absolute;
        left: 0;
        top: -webkit-calc(100% + 10px);
        top: calc(100% + 10px);
        background: #FFFFFF;
        -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 9px 8px;
        z-index: 999999; }
        .header__management .header--currency .header--currency_list li:not(:last-of-type) {
          margin-bottom: 8px; }
        .header__management .header--currency .header--currency_list li:hover {
          color: #000000; }
    .header__management .header--lang {
      margin-left: 30px;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: #9C9C9C;
      position: relative; }
      .header__management .header--lang__active {
        cursor: pointer;
        position: relative; }
        .header__management .header--lang__active:after {
          content: url("../img/arrow-down-top.svg");
          position: absolute;
          right: -20px;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%); }
      .header__management .header--lang .header--lang_list {
        display: none;
        position: absolute;
        left: 0;
        top: -webkit-calc(100% + 10px);
        top: calc(100% + 10px);
        background: #FFFFFF;
        -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 9px 8px;
        z-index: 999999; }
        .header__management .header--lang .header--lang_list li:not(:last-of-type) {
          margin-bottom: 8px; }
        .header__management .header--lang .header--lang_list li:hover {
          color: #000000; }
    .header__management .header--cart {
      position: relative;
      margin-left: 40px; }
      .header__management .header--cart_counter {
        position: absolute;
        bottom: -5px;
        right: -5px;
        width: 18px;
        height: 18px;
        background: #F8BD64;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 134.6%;
        text-align: center;
        text-transform: lowercase;
        color: #5B5B5B; }

.cart--content .cart--header {
  width: 100%;
  height: 50px;
  border-top: 2px solid #E5E5E5;
  border-bottom: 2px solid #E5E5E5;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 134.6%;
  text-transform: uppercase;
  color: #5B5B5B; }
  .cart--content .cart--header__name {
    width: 50%;
    padding-left: 10%; }
  .cart--content .cart--header__price {
    width: 10%; }
  .cart--content .cart--header__counter {
    width: 10%; }
  .cart--content .cart--header__summ {
    width: 25%;
    text-align: center; }

.cart--content .cart--body {
  margin-bottom: 40px; }
  .cart--content .cart--body .cart--item {
    padding: 15px 0px;
    border-bottom: 2px solid #E5E5E5; }
    .cart--content .cart--body .cart--item__checbox {
      width: 10%;
      padding: 0px 5px; }
    .cart--content .cart--body .cart--item__img {
      width: 10%;
      padding: 0px 5px; }
      .cart--content .cart--body .cart--item__img img {
        max-width: 40px;
        -o-object-fit: contain;
           object-fit: contain; }
    .cart--content .cart--body .cart--item__name {
      width: 30%;
      padding: 0px 5px; }
      .cart--content .cart--body .cart--item__name .item--name {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 134.6%;
        color: #000000;
        margin-bottom: 5px; }
      .cart--content .cart--body .cart--item__name .item--text {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 134.6%;
        color: #9C9C9C; }
    .cart--content .cart--body .cart--item__price {
      width: 10%;
      padding: 0px 5px;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 134.6%;
      text-align: center;
      color: #000000; }
    .cart--content .cart--body .cart--item__counter {
      width: 10%;
      padding: 0px 5px; }
      .cart--content .cart--body .cart--item__counter .item--btn {
        width: 35px;
        height: 35px;
        text-align: center;
        vertical-align: middle;
        line-height: 0;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0; }
      .cart--content .cart--body .cart--item__counter .item--input {
        width: 35px;
        height: 35px;
        text-align: center;
        vertical-align: middle;
        line-height: 0;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0;
        border: 1px solid #C4C4C4;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
    .cart--content .cart--body .cart--item__total {
      width: 20%;
      padding: 0px 5px;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 134.6%;
      color: #000000; }
    .cart--content .cart--body .cart--item .item--remove {
      width: 10%;
      padding: 0px 5px; }

.cart--content .cart--footer {
  margin-bottom: 100px; }
  .cart--content .cart--footer__counter {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 168.2%;
    letter-spacing: 0.03em;
    color: #000000; }
    .cart--content .cart--footer__counter .cart--footer__count {
      margin-left: 15px;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 168.2%;
      letter-spacing: 0.03em;
      color: #000000; }
  .cart--content .cart--footer .cart--footer__info {
    padding-right: 10%; }
  .cart--content .cart--footer .cart--footer__sale {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 168.2%;
    letter-spacing: 0.03em;
    color: #9C9C9C; }
    .cart--content .cart--footer .cart--footer__sale .cart--footer__text {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 168.2%;
      letter-spacing: 0.03em;
      color: #9C9C9C;
      margin-right: 15px; }
  .cart--content .cart--footer .cart--footer__pay {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 168.2%;
    letter-spacing: 0.03em;
    color: #000000; }
    .cart--content .cart--footer .cart--footer__pay .cart--footer__text {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 168.2%;
      letter-spacing: 0.03em;
      color: #000000;
      margin-right: 15px; }

.cart--content .cart--footer__btns {
  margin-bottom: 70px; }

.contacts--section {
  margin-bottom: 50px; }
  .contacts--section .contacts--item {
    margin-bottom: 40px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 134.6%;
    text-transform: capitalize;
    color: #000000; }
    .contacts--section .contacts--item img {
      margin-right: 20px; }
    .contacts--section .contacts--item .contacts--list a {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 134.6%;
      text-transform: lowercase;
      color: #000000;
      margin-top: 10px; }
      .contacts--section .contacts--item .contacts--list a span {
        font-weight: 300; }
  .contacts--section iframe {
    width: 100%;
    height: 345px; }

.delivery--content .delivery--item {
  padding-right: 40px;
  margin-bottom: 90px; }
  .delivery--content .delivery--item__img {
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.25);
            box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    margin-right: 50px; }
  .delivery--content .delivery--item .delivery--name {
    margin-bottom: 10px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 134.6%;
    color: #000000; }
  .delivery--content .delivery--item .delivery--text {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 134.6%;
    color: #000000; }
