.footer--form
  margin-bottom: 100px
  &__text
    font-family: $lato
    font-style: normal
    font-weight: 300
    font-size: 20px
    line-height: 134.6%
    text-align: center
    text-transform: uppercase
    color: #000000
    margin-right: 35px
  & form
    height: 40px
    max-width: 500px
    width: 100%
    background: #FAFAFA
    border: 0.7px solid #DBDADA
    box-sizing: border-box
    box-shadow: inset 0px -1px 5px rgba(0, 0, 0, 0.07)
    padding: 5px
    position: relative
    &:after
      content: url('../img/form-leaf.png')
      position: absolute
      right: -10%
      top: -60%
    & .footer--form__input
      width: calc(100% - 200px)
      height: 100%
      padding: 0px 15px
      font-family: $lato
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 123.6%
      text-transform: uppercase
      color: #9C9C9C
    & .footer--form__btn
      max-width: 200px
      width: 100%
      height: 100%
      text-align: center
      border-left: 1px solid #C4C4C4
      font-family: $lato
      font-style: normal
      font-weight: 300
      font-size: 16px
      line-height: 123.6%
      text-transform: uppercase
      color: #5B5B5B
.footer
  width: 100%
  height: auto
  background: rgba(0, 0, 0, 0.07)
  padding: 25px 0px
  &__contacts
    width: 29%
    & img
      margin-right: 15px
    & .footer--text
      width: 100%
      margin-bottom: 5px
      font-family: $lato
      font-style: normal
      font-weight: 300
      font-size: 16px
      line-height: 134.6%
      color: #000000
  &__central
    width: 45%
    & .footer--logo
      margin-bottom: 10px
    & .footer--name
      font-family: $lato
      font-style: normal
      font-weight: 300
      font-size: 16px
      line-height: 134.6%
      text-transform: uppercase
      color: #000000
      margin-bottom: 10px
    & .footer--currency
      font-family: $lato
      font-style: normal
      font-weight: 300
      font-size: 16px
      line-height: 19px
      text-transform: uppercase
      color: #242424
      margin-right: 30px
      position: relative
      &__active
        cursor: pointer
        position: relative
        &:after
          content: url('../img/arrow-down.svg')
          position: absolute
          right: -20px
          top: 50%
          transform: translateY(-50%)
      & .footer--currency_list
        display: none
        position: absolute
        left: 0
        bottom: calc(100% + 10px)
        background: #FFFFFF
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        padding: 9px 8px
        z-index: 999999
        & li:not(:last-of-type)
          margin-bottom: 8px
        & li:hover
          color: #000000
    & .footer--lang
      font-family: $lato
      font-style: normal
      font-weight: 300
      font-size: 16px
      line-height: 19px
      text-transform: uppercase
      color: #242424
      position: relative
      &__active
        cursor: pointer
        position: relative
        &:after
          content: url('../img/arrow-down.svg')
          position: absolute
          right: -20px
          top: 50%
          transform: translateY(-50%)
      & .footer--lang_list
        display: none
        position: absolute
        left: 0
        bottom: calc(100% + 10px)
        background: #FFFFFF
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        padding: 9px 8px
        z-index: 999999
        & li:not(:last-of-type)
          margin-bottom: 8px
        & li:hover
    & .footer__menu
      margin-bottom: 20px
      & .menu--item
        font-family: $lato
        font-style: normal
        font-weight: 300
        font-size: 16px
        line-height: 19px
        text-transform: uppercase
        color: #242424
        margin: 0px 10px
        transition: all .2s linear
        border-bottom: 1px solid transparent
        &:hover
          border-bottom: 1px solid #5B5B5B
          transition: all .2s linea
    & .footer--copyright
      font-family: $lato
      font-style: normal
      font-weight: 300
      font-size: 16px
      line-height: 19px
      text-transform: capitalize
      color: #242424
  &__right
    width: 25%
    &--mail
      margin-bottom: 20px
      width: 100%
      margin-bottom: 30px
      font-family: $lato
      font-style: normal
      font-weight: 300
      font-size: 16px
      line-height: 134.6%
      text-transform: capitalize
      color: #000000
      & img
        margin-right: 20px
        flex-shrink: 0
    &--location
      width: 100%
      margin-bottom: 5px
      font-family: $lato
      font-style: normal
      font-weight: 300
      font-size: 16px
      line-height: 134.6%
      text-transform: capitalize
      color: #000000
      & img
        margin-right: 20px
        flex-shrink: 0
.footer--copyright
  & a
    border-bottom: 1px solid transparent
    transition: all .2s linear
    &:hover
      border-bottom: 1px solid #242424