header.header
  .box.h-100.ai-center
    .header__body.d-flex.ai-center.w-100
      button(class="hamburger hamburger--spring" type="button")
        span.hamburger-box
          span.hamburger-inner
      .header__logo
        a(href="")
          img(src="img/logo.svg", alt="Logo")
      nav(class="header__menu")
        ul(class="header__menu-list d-flex")
          li(class="menu--item")
            a(href="/catalog.html") каталог
          li(class="menu--item")
            a(href="/tebodont.html") Tebodont
          li(class="menu--item")
            a(href="/emoform.html") Emoform
          li(class="menu--item")
            a(href="/emofluor.html") Emofluor
          li(class="menu--item")
            a(href="/delivery.html") доставка
          li(class="menu--item")
            a(href="/contacts.html") контакты
      .header__management.d-flex.ai-center
        .header--currency
          span(class="header--currency__active") USD
          ul(class="header--currency_list")
            li(class="header--currency_item")
              a(href="/") USD
            li(class="header--currency_item")
              a(href="/") EUR
            li(class="header--currency_item")
              a(href="/") UAH
        .header--lang
          span(class="header--lang__active") RU
          ul(class="header--lang_list")
            li(class="header--lang_item")
              a(href="/") RU
            li(class="header--lang_item")
              a(href="/") UA
            li(class="header--lang_item")
              a(href="/") EN
        a(href="cart.html" class="header--cart")
          img(src="img/cart.svg", alt="Cart ico")
          span(class="header--cart_counter d-flex ai-center justify-center")