doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="assets/img/favicon.ico", rel="shortcut icon")
    link(type="text/css", href="css/libs.min.css", rel="stylesheet")
    link(type="text/css", href="css/jquery-ui.min.css", rel="stylesheet")
    link(rel="stylesheet", href="fonts/lato.css")
    link(href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css", rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,500,700&display=swap" rel="stylesheet")
    link(type="text/css", href="css/revalator.css", rel="stylesheet")
    link(type="text/css", href="css/main.css", rel="stylesheet")
    title Tebodont
  body
    #contentWrapper.content-wrapper
      #pageWrapper.page-wrapper
        .mobile--navigation
          ul(class="mobile--navigation__list d-flex col")
            li(class="mobile--navigation__elem")
              a(href="/catalog.html") каталог
            li(class="mobile--navigation__elem")
              a(href="/tebodont.html") Tebodont
            li(class="mobile--navigation__elem")
              a(href="/emoform.html") Emoform
            li(class="mobile--navigation__elem")
              a(href="/emofluor.html") Emofluor
            li(class="mobile--navigation__elem")
              a(href="/delivery.html") доставка
            li(class="mobile--navigation__elem")
              a(href="/contacts.html") контакты
        include _header
        block content

      #footerWrapper.footer-wrapper
        include _footer
    div(style="display: none;" id="add-comment")
      form.add--commtent__modal.d-flex.col
        span(class="add--comment__title") Оцените качество товара:
        .rating
          svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
        .add--comment__fields.d-flex.flex-wrap
          input(type="text" class="add--comment__input" placeholder="Ваше имя" name="name")
          input(type="file" class="download--img__input" name="user-photo" id="user-photo")
          label(for="user-photo" class="download--img")
            .download--img__image.d-flex.ai-center.justify-center
              p Загрузить<br> аватар<br><br>
                span До 5мб
              img(src="", alt="")
          textarea(name="comment--text" class="add--comment__text" placeholder="Ваш комментарий")
          button(type="submit" class="link--btn") Опубликовать
    div(style="display: none;" id="add-toCart")
      form.add--toCart__modal.d-flex.col
        .add--toCart__body.d-flex.w-100.col
          .product--item.d-flex.w-100.ai-center
            .product--item__img.d-flex.ai-center.justify-center
              img(src="", alt="")
            .product--item__name.d-flex.col.ai-start.justify-start
              span(class="selected--prod__name")
              span(class="selected--prod__text")
            .product--item__counter.d-flex.ai-center.justify-center
              button(type="button" class="item--btn minus")
                  img(src="img/minus.png", alt="Minus")
              input(type="text" value="1" class="item--input")
              button(type="button" class="item--btn plus")
                img(src="img/plus.png", alt="Plus")
            .product--item__price.d-flex.ai-center.justify-center
              span(class="price--value")
              span(class="price--currency")
            button(class="item--remove")
              img(src="img/remove.png", alt="")
        .add--toCart__footer.d-flex.ai-start.space-between
          .productsInCart
            p Товаров в корзине:
              span(class="cart--footer__count") 0
          .productsInCart__info.d-flex.col
            .productsInCart__sale.d-flex.ai-center
              span(class="cart--footer__text") Скидка: 
              span(class="cart--footer__summ") 4
              span(class="cart--footer__currency") $
            .productsInCart__pay.d-flex.ai-center
              span(class="cart--footer__text") К оплате: 
              span(class="cart--footer__summ") 
              span(class="cart--footer__currency") $
        .add--toCart__btns
          .d-flex.ai-center.space-between
            a(href="catalog.html" class="link--btn") вернуться к покупкам
            a(href="cart-final.html" class="link--btn active") оформить
    div(style="display: none;" id="send--form")
      .send--form.d-flex.col.ai-center
        span(class="send--form__title") спасибо!
        span(class="send--form__text") Ваш заказ успешно оформлен, при необходимости наш менеджер свяжется с вами для уточнения деталей.
    script(src="js/libs.min.js")
    script(src="js/jquery-ui.min.js")
    script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
    script(src="js/paralax.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
    script(src="https://bkosborne.com/sites/all/themes/bootstrap_brian/js/jquery.waterwheelCarousel.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js")
    script(src="js/revalator.js")
    script(src="js/hamburger.js")
    script(src="js/common.js")