doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="assets/img/favicon.ico", rel="shortcut icon")
    link(type="text/css", href="css/libs.min.css", rel="stylesheet")
    link(type="text/css", href="css/jquery-ui.min.css", rel="stylesheet")
    link(rel="stylesheet", href="fonts/lato.css")
    link(href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css", rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,500,700&display=swap" rel="stylesheet")
    link(type="text/css", href="css/main.css", rel="stylesheet")
    title Tebodont
  body
    #contentWrapper.content-wrapper
      #pageWrapper.page-wrapper
        include _header
        block content

      #footerWrapper.footer-wrapper
        include _footer
    div(style="display: none;" id="add-comment")
      form.add--commtent__modal.d-flex.col
        span(class="add--comment__title") Оцените качество товара:
        .rating
          svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
        .add--comment__fields.d-flex.flex-wrap
          input(type="text" class="add--comment__input" placeholder="Ваше имя" name="name")
          input(type="file" class="download--img__input" name="user-photo" id="user-photo")
          label(for="user-photo" class="download--img")
            .download--img__image.d-flex.ai-center.justify-center
              p Загрузить<br> аватар<br><br>
                span До 5мб
              img(src="", alt="")
          textarea(name="comment--text" class="add--comment__text" placeholder="Ваш комментарий")
          button(type="submit" class="link--btn") Опубликовать
    script(src="js/libs.min.js")
    script(src="js/jquery-ui.min.js")
    script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
    script(src="js/paralax.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
    script(src="js/common.js")