extends blocks/_layout
append content
  main.main
    .box.flex-wrap
      ul.breadcrumbs.d-flex.w-100
        li(class="breadcrumbs--elem")
          a(class="breadcrumb--link" href="/") Главная
        li(class="breadcrumbs--elem separator") /
        li(class="breadcrumbs--elem")
          a(class="breadcrumb--link" href="/") Корзина
      .cart--content.d-flex.col.w-100
        form(action="" class="d-flex col w-100")
          .cart--header.d-flex.ai-center
            .cart--header__name наименование товара
            .cart--header__price цена за шт
            .cart--header__counter колл-во/шт
            .cart--header__summ общая сумма
          .cart--body.d-flex.col.w-100
            .cart--item.d-flex
              label.cart--item__checbox.custom-checkbox--container
                input(type="checkbox" name="cartCheck" class="input--checkbox" checked)
                span(class="checbox--custom")
              .cart--item__img.d-flex.ai-center
                img(src="img/product.png", alt="")
              .cart--item__name.d-flex.justify-center.col
                span(class="item--name d-flex w-100") Зубная паста tebodont 
                span(class="item--text d-flex w-100") с маслом чайного дерева и фторидом, 75 мл
              .cart--item__price.d-flex.ai-center
                p
                  span(class="price--value") 15
                  span(class="price--currency") $
              .cart--item__counter.d-flex.ai-center.justify-center
                button(type="button" class="item--btn minus")
                  img(src="img/minus.png", alt="Minus")
                input(type="text" value="1" class="item--input")
                button(type="button" class="item--btn plus")
                  img(src="img/plus.png", alt="Plus")
              .cart--item__total.d-flex.ai-center.justify-center
                span(class="price--value") 15
                span(class="price--currency") $
              button(class="item--remove")
                img(src="img/remove.png", alt="")
            .cart--item.d-flex
              label.cart--item__checbox.custom-checkbox--container
                input(type="checkbox" name="cartCheck" class="input--checkbox" checked)
                span(class="checbox--custom")
              .cart--item__img.d-flex.ai-center
                img(src="img/produc2.png", alt="")
              .cart--item__name.d-flex.justify-center.col
                span(class="item--name d-flex w-100") Ополаскиватель для полости рта  tebodont 
                span(class="item--text d-flex w-100") без фторида, 400 мл
              .cart--item__price.d-flex.ai-center
                p
                  span(class="price--value") 20
                  span(class="price--currency") $
              .cart--item__counter.d-flex.ai-center.justify-center
                button(type="button" class="item--btn minus")
                  img(src="img/minus.png", alt="Minus")
                input(type="text" value="1" class="item--input")
                button(type="button" class="item--btn plus")
                  img(src="img/plus.png", alt="Plus")
              .cart--item__total.d-flex.ai-center.justify-center
                span(class="price--value") 20
                span(class="price--currency") $
              button(class="item--remove")
                img(src="img/remove.png", alt="")
            .cart--item.d-flex
              label.cart--item__checbox.custom-checkbox--container
                input(type="checkbox" name="cartCheck" class="input--checkbox")
                span(class="checbox--custom")
              .cart--item__img.d-flex.ai-center
                img(src="img/product.png", alt="")
              .cart--item__name.d-flex.justify-center.col
                span(class="item--name d-flex w-100") спрей  tebodont 
                span(class="item--text d-flex w-100") с маслом чайного дерева без фторида, 25 мл
              .cart--item__price.d-flex.ai-center
                p
                  span(class="price--value") 30
                  span(class="price--currency") $
              .cart--item__counter.d-flex.ai-center.justify-center
                button(type="button" class="item--btn minus")
                  img(src="img/minus.png", alt="Minus")
                input(type="text" value="1" class="item--input")
                button(type="button" class="item--btn plus")
                  img(src="img/plus.png", alt="Plus")
              .cart--item__total.d-flex.ai-center.justify-center
                span(class="price--value") 30
                span(class="price--currency") $
              button(class="item--remove")
                img(src="img/remove.png", alt="")
          .cart--footer.d-flex.space-between
            p(class="cart--footer__counter") Выбрано товаров:
              span(class="cart--footer__count") 0
            .cart--footer__info.d-flex.col
              .cart--footer__sale.d-flex.ai-center
                span(class="cart--footer__text") Скидка: 
                span(class="cart--footer__summ") 4
                span(class="cart--footer__currency") $
              .cart--footer__pay.d-flex.ai-center
                span(class="cart--footer__text") К оплате: 
                span(class="cart--footer__summ") 56
                span(class="cart--footer__currency") $
          .cart--footer__btns.d-flex.ai-center.space-between
            a(href="/" class="link--btn") вернуться к покупкам
            a(href="cart-final.html" class="link--btn active") оформить

      .footer--form.d-flex.w-100.ai-center.justify-center
        span(class="footer--form__text") УЗНАВАЙТЕ ПЕРВЫМИ О РАСПРОДАЖАХ И НОВИНКАХ!
        form(class="d-flex ai-center" action="")
          input(class="footer--form__input" name="email" type="text" placeholder="E-mail")
          button(class="footer--form__btn" type="submit") подписаться