extends blocks/_layout
append content
  main.main
    .box.flex-wrap
      ul.breadcrumbs.d-flex.w-100
        li(class="breadcrumbs--elem")
          a(class="breadcrumb--link" href="/") Главная
        li(class="breadcrumbs--elem separator") /
        li(class="breadcrumbs--elem")
          a(class="breadcrumb--link" href="/") Каталог
      .catalog.w-100.d-flex.col
        .catalog--section.w-100.d-flex.col
          .catalog--section__title
            span(class="tebodont") TEBODONT
          .catalog--section__products.d-flex.w-100.flex-wrap
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                span(class="catalog--product__discount d-flex ai-center justify-center") 10%
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/tebodont1.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Зубная паста с маслом чайного дерева, без фторида, 75 мл
                  span(class="catalog--product__oldprice") 15$
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/tebodont2.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Зубная паста с маслом чайного дерева и фторидом, 75 мл
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/tebodont3.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Ополаскиватель для полости рта  без фторида, 400 мл
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/tebodont4.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Спрей с маслом чайного дерева, без фторида, 25 мл
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/tebodont5.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Бальзам для губ с маслом чайного дерева, 2*5 г
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/tebodont6.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Роликовая туба с маслом чайного дерева,  20 мл
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/tebodont7.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Гель с маслом чайного дерева, без фторида, 18 мл5$
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/tebodont8.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Зубная нить с маслом чайного дерева и фторидом натрия, 50 м
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
        .catalog--section.w-100.d-flex.col
          .catalog--section__title
            span(class="emoflour") emoflour
          .catalog--section__products.d-flex.w-100.flex-wrap
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoflour1.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Зубная паста emoflour twin care, 75 мл
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoflour2.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Зубная паста emoflour pro twin care, 75 мл
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoflour3.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Профессиональный гель для чувствительных зубов, 3 мл
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoflour4.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Профессиональный гель для чувствительных зубов, 10 x 3 мл
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoflour5.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") EMOFLUOR Гель, 75 мл
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoflour6.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") EMOFLUOR Гель, 18 мл
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoflour7.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") ополаскиватель для полости рта, 500 мл
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoflour8.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") ополаскиватель для полости рта, 250 мл
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
        .catalog--section.w-100.d-flex.col
          .catalog--section__title
            span(class="emoform") emoform
          .catalog--section__products.d-flex.w-100.flex-wrap
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoform1.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Зубная паста emoform diamond, 75 мл
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoform2.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Зубная паста emoform-f diamond, 85 мл
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoform3.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Зубная паста emoform-f diamond, 85 мл + зубная щетка$
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoform4.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Зубная паста emoform-f diamond, пробник 25 мл
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoform5.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Зубная паста emoform детская, 75 мл
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoform6.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Зубная паста emoform-f детская, 85 мл
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoform7.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Зубная нить emoform 25 м
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoform8.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Зубная нить emoform 50 м
                  span(class="catalog--product__price") 13$
                  a(class="link--btn" href="cart.html") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoform9.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Зубная нить emoform 50 м
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoform10.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Зубная нить emoform 50 м
                  span(class="catalog--product__oldprice") 15$
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoform11.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Зубная нить emoform 300 м5
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoform12.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Зубная щетка
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoform13.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Косметичка
                  p(class="catalog--product__price")
                    span(class="price--value") 13
                    span(class="price--currency") $
                  a(class="link--btn add-toCart--js" href="javascript:void(0);" data-fancybox data-src="#add-toCart") В корзину
    .catalog--banner.w-100(class="revealator-slideright revealator-delay1 revealator-once")
      img(class="catalog--banner__big-img", src="img/big-leaf.png", alt="")
      .box
        .catalog--banner__content.d-flex
          .banner--text.d-flex.col.justify-center
            span(class="banner--title") вместе  дешевле!
            span(class="banner--description") купите набор и получите скидку и подарки!
            a(href="/cart.html" class="link--btn") В корзину
          .banner--img
            img(src="img/catalog-banner-img.png", alt="")
          .banner--paralax
            img(class="js-parallax", data-size="10", src="img/leaf-group.png", alt="")
    .box.reviews.d-flex.col.w-100
      .reviews--title
        span отзывы покупателей
      .reviews--carousel
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo1.png", alt="")
          span(class="review--name") евгений
          span(class="review--date") 18 января 2020
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="active")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="active")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="active")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="active")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Начали пользоваться по совету врача. Чистит хорошо, приятно пахнет. К послевкусию привыкли быстро. Только брали без фтора.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo 2.png", alt="")
          span(class="review--name") АЛЕКСЕЙ
          span(class="review--date") 23 марта 2019
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="active")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="active")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="active")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="active")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="active")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Отличная зубная паста. Пользуюсь в основном ей и этой же компании - пастой Emoform-F Protect и ополаскивателем Tebodont. С зубами и деснами на протяжении этого времени все отлично.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo1.png", alt="")
          span(class="review--name") ВЕРОНИКА
          span(class="review--date") 11 ноября 2019
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="active")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="active")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="active")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
              p Дорогая но очень качественная паста. Купила по совету стоматолога и не пожалела. Очень хорошо очищает и оставляет приятную свежесть. Брала из за пародонтоза. Сейчас кровоточивость не наблюдаю.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo1.png", alt="")
          span(class="review--name") евгений
          span(class="review--date") 18 января 2020
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="active")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="active")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Начали пользоваться по совету врача. Чистит хорошо, приятно пахнет. К послевкусию привыкли быстро. Только брали без фтора.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo 2.png", alt="")
          span(class="review--name") АЛЕКСЕЙ
          span(class="review--date") 23 марта 2019
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="active")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="active")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="active")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Отличная зубная паста. Пользуюсь в основном ей и этой же компании - пастой Emoform-F Protect и ополаскивателем Tebodont. С зубами и деснами на протяжении этого времени все отлично.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo 3.png", alt="")
          span(class="review--name") ВЕРОНИКА
          span(class="review--date") 11 ноября 2019
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="active")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="active")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="active")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="active")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Дорогая но очень качественная паста. Купила по совету стоматолога и не пожалела. Очень хорошо очищает и оставляет приятную свежесть. Брала из за пародонтоза. Сейчас кровоточивость не наблюдаю.
      button(class="slide-prev" type="button")
        img(src="img/btn-prev.png", alt="")
      button(class="slide-next" type="button")
        img(src="img/btn-next.png", alt="")
      button(class="add-review" type="button"  data-fancybox data-src="#add-comment") Добавить отзыв
    .box
      .footer--form.d-flex.w-100.ai-center.justify-center
        span(class="footer--form__text") УЗНАВАЙТЕ ПЕРВЫМИ О РАСПРОДАЖАХ И НОВИНКАХ!
        form(class="d-flex ai-center" action="")
          input(class="footer--form__input" name="email" type="text" placeholder="E-mail")
          button(class="footer--form__btn" type="submit") подписаться
