extends blocks/_layout
append content
  main.main
    .box.flex-wrap
      ul.breadcrumbs.d-flex.w-100
        li(class="breadcrumbs--elem")
          a(class="breadcrumb--link" href="/") Главная
        li(class="breadcrumbs--elem separator") /
        li(class="breadcrumbs--elem")
          a(class="breadcrumb--link" href="/") emofluor
    .brand.emofluor
      .brand--img
        img( src="img/emofluor--main--bg.png", alt="")
      .box
        .brand--banner.d-flex.ai-start
          .col-50
            h1(class="brand--banner__title") emofluor
            p(class="brand--banner__description") Профессиональная зубная паста с двойной защитой от эрозии зубов и для уменьшения повышенной чувствительности 
            a(class="link--btn" href="catalog.html") Каталог
          .col-50.brand--prod-img
            img(src="img/emofluor-banner-img.png", alt="")
            p(class='brand--banner__info') Продукция
              b emofluor
              br
              | представлена эксклюзивно в аптеках и стоматологических клиниках
    .brand--info.emofluor
      .box.col
        .brand--info__title.d-flex.w-100.ai-center.justify-center
          span emofluor
          | - высокие технологии для здоровья ваших зубов!
        .brand--info__infogra.d-flex.ai-center.justify-center
          .infogra--left.d-flex.col
            .infogra--box.first.tooth
              span Содержит уникальную комбинацию<br> высокоэффективного минерала<br> фторида олова и технологию CUROLOX®.
              img(src="img/emof1.png", alt="")
            .infogra--box.second.procent.emofluor
              span Уникальная технология отмечен<br> наградами
          .infogra--center.d-flex.ai-center.justify-center
            img(src="img/emofluor-info-past.png", alt="")
          .infogra--right.d-flex.col
            .infogra--box.third.country.d-flex.ai-start
                img(src="img/switherland.png", alt="")
                span Швейцарское<br>  качество
            .infogra--box.fourth.procent
              ul(class="infogra--box__list")
                li Предотвращает эрозию
                li Регенерирует поверхность эмали
                li Уменьшает повышенную чувствительность зубов
              img(src="img/set--tooth3.png", alt="")
        .brand--infogra__footer.d-flex.ai-center.justify-center.emofluor теперь твой визит к стоматологу станет приятным
    .box.flex-wrap
      .catalog.w-100.d-flex.col
        .catalog--section.w-100.d-flex.col
          .catalog--section__title
            span EMOFLUOR
          .catalog--section__products.d-flex.w-100.flex-wrap
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                span(class="catalog--product__discount d-flex ai-center justify-center") 10%
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoflour1.png ", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Зубная паста emofluor twin care, 75 мл
                  span(class="catalog--product__oldprice") 15$
                  span(class="catalog--product__price") 13$
                  a(class="link--btn" href="cart.html") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                span(class="catalog--product__discount d-flex ai-center justify-center") 10%
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoflour2.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Зубная паста emofluor pro twin care, 75 мл
                  span(class="catalog--product__oldprice") 15$
                  span(class="catalog--product__price") 13$
                  a(class="link--btn" href="cart.html") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                span(class="catalog--product__discount d-flex ai-center justify-center") 10%
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoflour3.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Профессиональный гель для чувствительных зубов, 3 мл
                  span(class="catalog--product__oldprice") 15$
                  span(class="catalog--product__price") 13$
                  a(class="link--btn" href="cart.html") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                span(class="catalog--product__discount d-flex ai-center justify-center") 10%
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoflour4.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Профессиональный гель для чувствительных зубов, 10 x 3 мл
                  span(class="catalog--product__oldprice") 15$
                  span(class="catalog--product__price") 13$
                  a(class="link--btn" href="cart.html") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                span(class="catalog--product__discount d-flex ai-center justify-center") 10%
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoflour5.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") EMOFLUOR Гель, 75 мл
                  span(class="catalog--product__oldprice") 15$
                  span(class="catalog--product__price") 13$
                  a(class="link--btn" href="cart.html") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                span(class="catalog--product__discount d-flex ai-center justify-center") 10%
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoflour6.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") EMOFLUOR Гель, 18 мл
                  span(class="catalog--product__oldprice") 15$
                  span(class="catalog--product__price") 13$
                  a(class="link--btn" href="cart.html") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                span(class="catalog--product__discount d-flex ai-center justify-center") 10%
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoflour7.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") ополаскиватель для полости рта, 500 мл
                  span(class="catalog--product__oldprice") 15$
                  span(class="catalog--product__price") 13$
                  a(class="link--btn" href="cart.html") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                span(class="catalog--product__discount d-flex ai-center justify-center") 10%
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/emoflour8.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Зубная нить с маслом чайного дерева и фторидом натрия, 50 м
                  span(class="catalog--product__oldprice") 15$
                  span(class="catalog--product__price") 13$
                  a(class="link--btn" href="cart.html") В корзину
    .catalog--banner.emofluor.w-100
      img(class="catalog--banner__big-img", src="img/emof3.png", alt="")
      .box
        .catalog--banner__content.d-flex
          .banner--text.d-flex.col.justify-center
            span(class="banner--title") вместе  дешевле!
            span(class="banner--description") купите набор и получите скидку и подарки!
          .banner--img
            img(src="img/emoflour-banner.png", alt="")
    .box.reviews.d-flex.col.w-100
      .reviews--title
        span отзывы покупателей
      .reviews--carousel
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo1.png", alt="")
          span(class="review--name") евгений
          span(class="review--date") 18 января 2020
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Начали пользоваться по совету врача. Чистит хорошо, приятно пахнет. К послевкусию привыкли быстро. Только брали без фтора.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo 2.png", alt="")
          span(class="review--name") АЛЕКСЕЙ
          span(class="review--date") 23 марта 2019
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Отличная зубная паста. Пользуюсь в основном ей и этой же компании - пастой Emoform-F Protect и ополаскивателем Tebodont. С зубами и деснами на протяжении этого времени все отлично.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo1.png", alt="")
          span(class="review--name") ВЕРОНИКА
          span(class="review--date") 11 ноября 2019
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
              p Дорогая но очень качественная паста. Купила по совету стоматолога и не пожалела. Очень хорошо очищает и оставляет приятную свежесть. Брала из за пародонтоза. Сейчас кровоточивость не наблюдаю.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo1.png", alt="")
          span(class="review--name") евгений
          span(class="review--date") 18 января 2020
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Начали пользоваться по совету врача. Чистит хорошо, приятно пахнет. К послевкусию привыкли быстро. Только брали без фтора.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo 2.png", alt="")
          span(class="review--name") АЛЕКСЕЙ
          span(class="review--date") 23 марта 2019
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Отличная зубная паста. Пользуюсь в основном ей и этой же компании - пастой Emoform-F Protect и ополаскивателем Tebodont. С зубами и деснами на протяжении этого времени все отлично.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo 3.png", alt="")
          span(class="review--name") ВЕРОНИКА
          span(class="review--date") 11 ноября 2019
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Дорогая но очень качественная паста. Купила по совету стоматолога и не пожалела. Очень хорошо очищает и оставляет приятную свежесть. Брала из за пародонтоза. Сейчас кровоточивость не наблюдаю.
      button(class="slide-prev" type="button")
        img(src="img/btn-prev.png", alt="")
      button(class="slide-next" type="button")
        img(src="img/btn-next.png", alt="")
      button(class="add-review" type="button") Добавить отзыв
    .brand--footer
      .brand--footer-par
        img(src="img/emof4.png", alt="" class="js-parallax", data-size="10")
      .box.w-100.col
        .brand--footer__content.d-flex.col.w-100.ai-center
          span.brand--footer__tite Больше, чем просто уход...
          p(class="brand--footer__text")  Местное применение паст и гелей, содержащих стабилизированный фторид олова, доказали свою эффективность в качестве профилактической меры против кариеса и гингивита, а также в качестве лечебного средства против повышенной чувствительности зубов. Ополаскиватель содержит хлорид калия и фторид натрия, которые защищают от болезненных внешних раздражителей и предотвращают разрушение зубов.
        .brand--footer__banner.d-flex.ai-center
          .col-50
            img(src="img/emof-imgr.png", alt="" class="brand--footer__img")
          .col-50
            span(class="brand--banner__title") ингридиенты:
            p(class="brand--banner__text") продукты линеки EMOFLUOR®  содержат уникальную комбинацию высокоэффективного минерала фторида олова и технологию CUROLOX® (самоорганизующиеся пептиды), удостоенную награды Swiss Technology® Award. Она быстро формирует устойчивую 3D-матрицу на дентине и эмали, предотвращая эрозию. 
            a(href="/" class="brand--banner__link") Смотреть презентацию продукта
    .box
      .footer--form.emofluor.d-flex.w-100.ai-center.justify-center
        span(class="footer--form__text") УЗНАВАЙТЕ ПЕРВЫМИ О РАСПРОДАЖАХ И НОВИНКАХ!
        form(class="d-flex ai-center" action="")
          input(class="footer--form__input" name="email" type="text" placeholder="E-mail")
          button(class="footer--form__btn" type="submit") подписаться
