extends blocks/_layout
append content
  main.main
    #waterwheel-carousel
      .char
        img(src="https://bkosborne.com/sites/default/files/waterwheelcarousel/1.jpg")
      .char
        img(src="https://bkosborne.com/sites/default/files/waterwheelcarousel/2.jpg")
      .char
        img(src="https://bkosborne.com/sites/default/files/waterwheelcarousel/3.jpg")
      a(href="#" id="next") Next
    .box.main--img.d-flex.ai-center.justify-center
      img(src="img/main--img.png", alt="")
    .box.set.d-flex.col.w-100
      .set--title
        span комплексный швейцарский набор
      .set--content.col.d-flex.ai-center.col
        .set--content__title Решает основные проблемы ротовой полости
        .set--content__elems.d-flex.ai-center.space-between.w-100
          .set--content__elem.d-flex.col.ai-center.jusitify-center
            img(src="img/set--tooth1.png", alt="" class="set--content__elem-img")
            span(class="set--content__elem-name") Устраняет проблемы с деснами
          .set--content__elem.d-flex.col.ai-center.jusitify-center
            img(src="img/set--tooth2.png", alt="" class="set--content__elem-img")
            span(class="set--content__elem-name") Бережно отбеливает эмаль
          .set--content__elem.d-flex.col.ai-center.jusitify-center
            img(src="img/set--tooth3.png", alt="" class="set--content__elem-img")
            span(class="set--content__elem-name") Профилактика кариеса
    .box.lifehucks.d-flex.col.w-100
      .lifehucks--title
        span лайфхаки
      ul.lifehucks--list
        li(class="lifehucks--list__item") как правильно чистить зубы?
        li(class="lifehucks--list__item") чем полоскать и зачем?
        li(class="lifehucks--list__item") зубная нить или зубочистка?
        li(class="lifehucks--list__item") жевательная резинка: правда или фейк?
        li(class="lifehucks--list__item") топ5 мифов
        li(class="lifehucks--list__item") кровоточивость дёсен: что делать?
        li(class="lifehucks--list__item") повышенная чувствительность: терпеть нельзя лечить
    .box.reviews.d-flex.col.w-100
      .reviews--title
        span отзывы покупателей
      .reviews--carousel
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo1.png", alt="")
          span(class="review--name") евгений
          span(class="review--date") 18 января 2020
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Начали пользоваться по совету врача. Чистит хорошо, приятно пахнет. К послевкусию привыкли быстро. Только брали без фтора.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo 2.png", alt="")
          span(class="review--name") АЛЕКСЕЙ
          span(class="review--date") 23 марта 2019
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Отличная зубная паста. Пользуюсь в основном ей и этой же компании - пастой Emoform-F Protect и ополаскивателем Tebodont. С зубами и деснами на протяжении этого времени все отлично.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo1.png", alt="")
          span(class="review--name") ВЕРОНИКА
          span(class="review--date") 11 ноября 2019
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
              p Дорогая но очень качественная паста. Купила по совету стоматолога и не пожалела. Очень хорошо очищает и оставляет приятную свежесть. Брала из за пародонтоза. Сейчас кровоточивость не наблюдаю.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo1.png", alt="")
          span(class="review--name") евгений
          span(class="review--date") 18 января 2020
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Начали пользоваться по совету врача. Чистит хорошо, приятно пахнет. К послевкусию привыкли быстро. Только брали без фтора.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo 2.png", alt="")
          span(class="review--name") АЛЕКСЕЙ
          span(class="review--date") 23 марта 2019
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Отличная зубная паста. Пользуюсь в основном ей и этой же компании - пастой Emoform-F Protect и ополаскивателем Tebodont. С зубами и деснами на протяжении этого времени все отлично.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo 3.png", alt="")
          span(class="review--name") ВЕРОНИКА
          span(class="review--date") 11 ноября 2019
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Дорогая но очень качественная паста. Купила по совету стоматолога и не пожалела. Очень хорошо очищает и оставляет приятную свежесть. Брала из за пародонтоза. Сейчас кровоточивость не наблюдаю.
      button(class="slide-prev" type="button")
        img(src="img/btn-prev.png", alt="")
      button(class="slide-next" type="button")
        img(src="img/btn-next.png", alt="")
      button(class="add-review" type="button"  data-fancybox data-src="#add-comment") Добавить отзыв
    .box.partners.d-flex.col.w-100
      .reviews--title
        span наши партнеры
      .partners--carousel
        .partner.d-flex.col.ai-center.justify-center
          img(class="partner--img", src="img/partner1.png", alt="")
          span(class="partner--name") европейская ассоциация стоматологов
        .partner.d-flex.col.ai-center.justify-center
          img(class="partner--img", src="img/partner2.png", alt="")
          span(class="partner--name") европейская ассоциация стоматологов
        .partner.d-flex.col.ai-center.justify-center
          img(class="partner--img", src="img/partner3.png", alt="")
          span(class="partner--name") европейская ассоциация стоматологов
        .partner.d-flex.col.ai-center.justify-center
          img(class="partner--img", src="img/partner4.png", alt="")
          span(class="partner--name") европейская ассоциация стоматологов
        .partner.d-flex.col.ai-center.justify-center
          img(class="partner--img", src="img/partner2.png", alt="")
          span(class="partner--name") европейская ассоциация стоматологов
        .partner.d-flex.col.ai-center.justify-center
          img(class="partner--img", src="img/partner4.png", alt="")
          span(class="partner--name") европейская ассоциация стоматологов
        .partner.d-flex.col.ai-center.justify-center
          img(class="partner--img", src="img/partner3.png", alt="")
          span(class="partner--name") европейская ассоциация стоматологов
    .box
      .footer--form.d-flex.w-100.ai-center.justify-center
        span(class="footer--form__text") УЗНАВАЙТЕ ПЕРВЫМИ О РАСПРОДАЖАХ И НОВИНКАХ!
        form(class="d-flex ai-center" action="")
          input(class="footer--form__input" name="email" type="text" placeholder="E-mail")
          button(class="footer--form__btn" type="submit") подписаться
