extends blocks/_layout
append content
  main.main
    .box.main--img.d-flex.ai-center.justify-center
      img(src="img/main--img.png", alt="")
    .brand-paralax.brand-1
      img(src="img/leaf--par.png", alt="" class="js-parallax", data-size="10")
    .brand-paralax.brand-2
      img(src="img/diamants-par.png", alt="" class="js-parallax", data-size="10")
    .brand-paralax.brand-3
      canvas(id="background")
    .box
      #waterwheel-carousel
        img(src="img/tebobont-info-past.png", alt="")
        img(src="img/emoform-info-past.png", alt="")
        img(src="img/emofluor-info-past.png", alt="")
      a(href="#" id="waterwheel-next") Next
      .main--carousel__brands
        img(src="img/rotate.png", alt="" class="rotate--img")
        #main--tebodont.main--carousel--info.brand-1.w-100.h-100
          .brand--container.d-flex.space-between.h-60.w-100
            .col-25.d-flex.space-between.col.h-100
              .carousel--info-box.first
                img(src="img/oil.png", alt="")
                span Содержит масло<br> чайного дерева
              .carousel--info-box.second
                img(src="img/green.png", alt="")
                span Предотвращает кариес,<br> гингивит, пародонтит и другие<br> заболевания полости рта
            .col-25.d-flex.justify-center.col.h-100
              .carousel--info-box.third
                img(src="img/set--tooth1.png", alt="")
                span Оказывает<br>успокаивающее<br> и противоваспалительное действие
          .about--brand
            span(class="about--brand__title") tebodont
            span(class="about--brand__subtitle") Зубная паста здорового человека!
            a(href="/tebodont.html" class="link--btn") Подробнее
        #main--emoform.main--carousel--info.brand-2.w-100.h-100
          .brand--container.d-flex.space-between.h-60.w-100
            .col-25.d-flex.space-between.col.h-100
              .carousel--info-box.first
                img(src="img/set--tooth2.png", alt="")
                span Мягко очищает и полирует<br> поверхность зубов
              .carousel--info-box.second
                img(src="img/stone.png", alt="")
                span Препятствует образованию<br>зубного камня
            .col-25.d-flex.justify-center.col.h-100
              .carousel--info-box.third
                img(src="img/blue-diamant.png", alt="")
                span Содержит<br> мельчайшие частицы<br> настоящего диаманта
          .about--brand
            span(class="about--brand__title") emoform
            span(class="about--brand__subtitle") Зубная паста здорового человека!
            a(href="/emoform.html" class="link--btn") Подробнее
        #main--emofluor.main--carousel--info.brand-3.w-100.h-100
          .brand--container.d-flex.space-between.h-60.w-100
            .col-25.d-flex.space-between.col.h-100
              .carousel--info-box.first
                img(src="img/emof1.png", alt="")
                span снижает повышенную<br> чувствительность зубов, <br>запечатывая дентинные канальцы
              .carousel--info-box.second
                img(src="img/swisstechnology.png", alt="")
                span Удостоенно награды Swiss<br> Technology® Award
            .col-25.d-flex.justify-center.col.h-100
              .carousel--info-box.third
                img(src="img/unique.png", alt="")
                span Содержит уникальную комбинацию<br> высокоэффективного минерала<br> фторида олова и технологию<br> CUROLOX®
          .about--brand
            span(class="about--brand__title") emofluor
            span(class="about--brand__subtitle") Зубная паста здорового человека!
            a(href="/emofluor.html" class="link--btn") Подробнее
    .box.set.d-flex.col.w-100
      .set--title
        span комплексный швейцарский набор
      .set--content.col.d-flex.ai-center.col
        .set--content__title Решает основные проблемы ротовой полости
        .set--content__elems.d-flex.ai-center.space-between.w-100
          .set--content__elem.d-flex.col.ai-center.jusitify-center
            img(src="img/set--tooth1.png", alt="" class="set--content__elem-img")
            span(class="set--content__elem-name") Устраняет проблемы с деснами
          .set--content__elem.d-flex.col.ai-center.jusitify-center
            img(src="img/set--tooth2.png", alt="" class="set--content__elem-img")
            span(class="set--content__elem-name") Бережно отбеливает эмаль
          .set--content__elem.d-flex.col.ai-center.jusitify-center
            img(src="img/set--tooth3.png", alt="" class="set--content__elem-img")
            span(class="set--content__elem-name") Профилактика кариеса
    .box.lifehucks.d-flex.col.w-100
      .lifehucks--title
        span лайфхаки
      ul.lifehucks--list
        li(class="lifehucks--list__item")
          span как правильно чистить зубы?
          div(class="lifehucks--list__content") Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quaerat ipsa, asperiores vitae autem, consequatur obcaecati eveniet, modi officia cumque magni dolore odit laborum molestias? Rem necessitatibus temporibus laboriosam vitae!
        li(class="lifehucks--list__item")
          span чем полоскать и зачем?
          div(class="lifehucks--list__content") Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quos voluptatem enim temporibus cumque vel assumenda fugit tempore molestias omnis cupiditate laudantium, accusamus eveniet repellendus aperiam facere. Vero, temporibus commodi?
        li(class="lifehucks--list__item")
          span зубная нить или зубочистка?
          div(class="lifehucks--list__content")  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quos voluptatem enim temporibus cumque vel assumenda fugit tempore molestias omnis cupiditate laudantium, accusamus eveniet repellendus aperiam facere. Vero, temporibus commodi?
        li(class="lifehucks--list__item")
          span жевательная резинка: правда или фейк?
          div(class="lifehucks--list__content")  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quos voluptatem enim temporibus cumque vel assumenda fugit tempore molestias omnis cupiditate laudantium, accusamus eveniet repellendus aperiam facere. Vero, temporibus commodi?
        li(class="lifehucks--list__item")
          span топ5 мифов
          div(class="lifehucks--list__content") Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quos voluptatem enim temporibus cumque vel assumenda fugit tempore molestias omnis cupiditate laudantium, accusamus eveniet repellendus aperiam facere. Vero, temporibus commodi?
        li(class="lifehucks--list__item")
          span кровоточивость дёсен: что делать?
          div(class="lifehucks--list__content")  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quos voluptatem enim temporibus cumque vel assumenda fugit tempore molestias omnis cupiditate laudantium, accusamus eveniet repellendus aperiam facere. Vero, temporibus commodi?
        li(class="lifehucks--list__item")
          span повышенная чувствительность: терпеть нельзя лечить
          div(class="lifehucks--list__content")  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quos voluptatem enim temporibus cumque vel assumenda fugit tempore molestias omnis cupiditate laudantium, accusamus eveniet repellendus aperiam facere. Vero, temporibus commodi?
    .box.reviews.d-flex.col.w-100
      .reviews--title
        span отзывы покупателей
      .reviews--carousel
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo1.png", alt="")
          span(class="review--name") евгений
          span(class="review--date") 18 января 2020
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Начали пользоваться по совету врача. Чистит хорошо, приятно пахнет. К послевкусию привыкли быстро. Только брали без фтора.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo 2.png", alt="")
          span(class="review--name") АЛЕКСЕЙ
          span(class="review--date") 23 марта 2019
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Отличная зубная паста. Пользуюсь в основном ей и этой же компании - пастой Emoform-F Protect и ополаскивателем Tebodont. С зубами и деснами на протяжении этого времени все отлично.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo1.png", alt="")
          span(class="review--name") ВЕРОНИКА
          span(class="review--date") 11 ноября 2019
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
              p Дорогая но очень качественная паста. Купила по совету стоматолога и не пожалела. Очень хорошо очищает и оставляет приятную свежесть. Брала из за пародонтоза. Сейчас кровоточивость не наблюдаю.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo1.png", alt="")
          span(class="review--name") евгений
          span(class="review--date") 18 января 2020
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Начали пользоваться по совету врача. Чистит хорошо, приятно пахнет. К послевкусию привыкли быстро. Только брали без фтора.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo 2.png", alt="")
          span(class="review--name") АЛЕКСЕЙ
          span(class="review--date") 23 марта 2019
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Отличная зубная паста. Пользуюсь в основном ей и этой же компании - пастой Emoform-F Protect и ополаскивателем Tebodont. С зубами и деснами на протяжении этого времени все отлично.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo 3.png", alt="")
          span(class="review--name") ВЕРОНИКА
          span(class="review--date") 11 ноября 2019
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Дорогая но очень качественная паста. Купила по совету стоматолога и не пожалела. Очень хорошо очищает и оставляет приятную свежесть. Брала из за пародонтоза. Сейчас кровоточивость не наблюдаю.
      button(class="slide-prev" type="button")
        img(src="img/btn-prev.png", alt="")
      button(class="slide-next" type="button")
        img(src="img/btn-next.png", alt="")
      button(class="add-review" type="button"  data-fancybox data-src="#add-comment") Добавить отзыв
    .box.partners.d-flex.col.w-100
      .reviews--title
        span наши партнеры
      .partners--carousel
        .partner.d-flex.col.ai-center.justify-center
          img(class="partner--img", src="img/partner1.png", alt="")
          span(class="partner--name") европейская ассоциация стоматологов
        .partner.d-flex.col.ai-center.justify-center
          img(class="partner--img", src="img/partner2.png", alt="")
          span(class="partner--name") европейская ассоциация стоматологов
        .partner.d-flex.col.ai-center.justify-center
          img(class="partner--img", src="img/partner3.png", alt="")
          span(class="partner--name") европейская ассоциация стоматологов
        .partner.d-flex.col.ai-center.justify-center
          img(class="partner--img", src="img/partner4.png", alt="")
          span(class="partner--name") европейская ассоциация стоматологов
        .partner.d-flex.col.ai-center.justify-center
          img(class="partner--img", src="img/partner2.png", alt="")
          span(class="partner--name") европейская ассоциация стоматологов
        .partner.d-flex.col.ai-center.justify-center
          img(class="partner--img", src="img/partner4.png", alt="")
          span(class="partner--name") европейская ассоциация стоматологов
        .partner.d-flex.col.ai-center.justify-center
          img(class="partner--img", src="img/partner3.png", alt="")
          span(class="partner--name") европейская ассоциация стоматологов
    .box
      .footer--form.d-flex.w-100.ai-center.justify-center
        span(class="footer--form__text") УЗНАВАЙТЕ ПЕРВЫМИ О РАСПРОДАЖАХ И НОВИНКАХ!
        form(class="d-flex ai-center" action="")
          input(class="footer--form__input" name="email" type="text" placeholder="E-mail")
          button(class="footer--form__btn" type="submit") подписаться
