extends blocks/_layout
append content
  main.main
    .box.flex-wrap
      ul.breadcrumbs.d-flex.w-100
        li(class="breadcrumbs--elem")
          a(class="breadcrumb--link" href="/") Главная
        li(class="breadcrumbs--elem separator") /
        li(class="breadcrumbs--elem")
          a(class="breadcrumb--link" href="/") Карточка товара
        li(class="breadcrumbs--elem separator") /
        li(class="breadcrumbs--elem")
          a(class="breadcrumb--link" href="/") Зубная паста с маслом чайного дерева и фторидом, 75 мл
    .product
      .box
        .product--box.col-50
        .product--box.col-50
          .product--box__header
            .product--header__title Зубная паста с маслом чайного дерева и фторидом, 75 мл
            .rating
              svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
              svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
              svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
              svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
              svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .product--box__body
            .product--param
              span(class="product--param__name") Возраст: 
              span(class="product--param__value") 18+
            .product--param
              span(class="product--param__name") Назначение: 
              span(class="product--param__value") лечение, очищение
            .product--param
              span(class="product--param__name") Классификация: 
              span(class="product--param__value") аптечная
            .product--param
              span(class="product--param__name") Страна производитель: 
              span(class="product--param__value") Швейцария
            p(class="product--param__price") 15$
            button(class="addToCart" type="button") Добавить в корзину
            .product--tabs
              .product--tab
                .product--tab__header
                  span описание
                  span(class="tab--header-ico")
                .product--tab__body
                  p Эта зубная паста предназначена для лечебного и профилактического ухода за воспаленными деснами и слизистой оболочкой полости рта, 
                    | а также при значительном образовании зубных отложений. Она не только оказывает очищающее и общеоздоровительное действия, 
                    | но и предотвращает кариес, гингивит, пародонтит, а также различные воспаления полости рта. стимулирует образование слюны 
                    | и предотвращает сухость во рту. рекомендована для ежедневного применения.
                    | В составе содержатся тщательно подобранные компоненты, благодаря которым Dr. Wild Tebodont эффективно справляется с начальной стадией множественных кариесных поражений, избавляя
                    | от меловидных белых пятен на эмали. Для обеспечения бактерицидного и укрепляющего действий формулу обогатили маслом чайного дерева. В свою очередь ксилит позволяет препарату бороться с налетом и наделяет его антикариесными свойствами. Укрепляющий эффект усиливается за счет фторида натрия и дополнительных минералов - калия фосфата и хлорида натрия.
                    | Представленный продукт имеет низкую абразивность и нейтральный уровень pH 6.5, поэтому нормализует кислотно-щелочной баланс, 
                    | не способен изменять вкусовые ощущения.
              .product--tab
                .product--tab__header
                  span состав
                  span(class="tab--header-ico")
                .product--tab__body
                  p Эта зубная паста предназначена для лечебного и профилактического ухода за воспаленными деснами и слизистой оболочкой полости рта, 
                    | а также при значительном образовании зубных отложений. Она не только оказывает очищающее и общеоздоровительное действия, 
                    | но и предотвращает кариес, гингивит, пародонтит, а также различные воспаления полости рта. стимулирует образование слюны 
                    | и предотвращает сухость во рту. рекомендована для ежедневного применения.
                    | В составе содержатся тщательно подобранные компоненты, благодаря которым Dr. Wild Tebodont эффективно справляется с начальной стадией множественных кариесных поражений, избавляя
                    | от меловидных белых пятен на эмали. Для обеспечения бактерицидного и укрепляющего действий формулу обогатили маслом чайного дерева. В свою очередь ксилит позволяет препарату бороться с налетом и наделяет его антикариесными свойствами. Укрепляющий эффект усиливается за счет фторида натрия и дополнительных минералов - калия фосфата и хлорида натрия.
                    | Представленный продукт имеет низкую абразивность и нейтральный уровень pH 6.5, поэтому нормализует кислотно-щелочной баланс, 
                    | не способен изменять вкусовые ощущения.
    .box
      .catalog.w-100.d-flex.col
        .catalog--section.w-100.d-flex.col
          .catalog--section__title
            span Смотрите также
          .catalog--section__products.d-flex.w-100.flex-wrap
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                span(class="catalog--product__discount d-flex ai-center justify-center") 10%
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/tebodont1.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Зубная паста с маслом чайного дерева, без фторида, 75 мл
                  span(class="catalog--product__oldprice") 15$
                  span(class="catalog--product__price") 13$
                  a(class="link--btn" href="cart.html") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                span(class="catalog--product__discount d-flex ai-center justify-center") 10%
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/tebodont2.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Зубная паста с маслом чайного дерева и фторидом, 75 мл
                  span(class="catalog--product__oldprice") 15$
                  span(class="catalog--product__price") 13$
                  a(class="link--btn" href="cart.html") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                span(class="catalog--product__discount d-flex ai-center justify-center") 10%
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/tebodont3.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Ополаскиватель для полости рта  без фторида, 400 мл
                  span(class="catalog--product__oldprice") 15$
                  span(class="catalog--product__price") 13$
                  a(class="link--btn" href="cart.html") В корзину
            .catalog--product
              .catalog--product__content.d-flex.col.ai-center.justify-center
                span(class="catalog--product__discount d-flex ai-center justify-center") 10%
                .catalog--product__img.d-flex.col.ai-center.justify-center
                  img(src="img/tebodont4.png", alt="")
                .catalog--info.d-flex.col.ai-center.justify-center
                  span(class="catalog--product__name") Спрей с маслом чайного дерева, без фторида, 25 мл
                  span(class="catalog--product__oldprice") 15$
                  span(class="catalog--product__price") 13$
                  a(class="link--btn" href="cart.html") В корзину
    .catalog--banner.w-100
      img(class="catalog--banner__big-img", src="img/big-leaf.png", alt="")
      .box
        .catalog--banner__content.d-flex
          .banner--text.d-flex.col.justify-center
            span(class="banner--title") вместе  дешевле!
            span(class="banner--description") купите набор и получите скидку и подарки!
          .banner--img
            img(src="img/catalog-banner-img.png", alt="")
          .banner--paralax
            img(class="js-parallax", data-size="10", src="img/leaf-group.png", alt="")
    .box.reviews.d-flex.col.w-100
      .reviews--title
        span отзывы покупателей
      .reviews--carousel
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo1.png", alt="")
          span(class="review--name") евгений
          span(class="review--date") 18 января 2020
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Начали пользоваться по совету врача. Чистит хорошо, приятно пахнет. К послевкусию привыкли быстро. Только брали без фтора.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo 2.png", alt="")
          span(class="review--name") АЛЕКСЕЙ
          span(class="review--date") 23 марта 2019
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Отличная зубная паста. Пользуюсь в основном ей и этой же компании - пастой Emoform-F Protect и ополаскивателем Tebodont. С зубами и деснами на протяжении этого времени все отлично.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo1.png", alt="")
          span(class="review--name") ВЕРОНИКА
          span(class="review--date") 11 ноября 2019
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
              p Дорогая но очень качественная паста. Купила по совету стоматолога и не пожалела. Очень хорошо очищает и оставляет приятную свежесть. Брала из за пародонтоза. Сейчас кровоточивость не наблюдаю.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo1.png", alt="")
          span(class="review--name") евгений
          span(class="review--date") 18 января 2020
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Начали пользоваться по совету врача. Чистит хорошо, приятно пахнет. К послевкусию привыкли быстро. Только брали без фтора.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo 2.png", alt="")
          span(class="review--name") АЛЕКСЕЙ
          span(class="review--date") 23 марта 2019
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Отличная зубная паста. Пользуюсь в основном ей и этой же компании - пастой Emoform-F Protect и ополаскивателем Tebodont. С зубами и деснами на протяжении этого времени все отлично.
        .review.d-flex.col.ai-center.justify-center
          img(class="review--img", src="img/photo 3.png", alt="")
          span(class="review--name") ВЕРОНИКА
          span(class="review--date") 11 ноября 2019
          .rating
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
            svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M8.5 0L10.4084 5.87336L16.584 5.87336L11.5878 9.50329L13.4962 15.3766L8.5 11.7467L3.50383 15.3766L5.41219 9.50329L0.416019 5.87336L6.59163 5.87336L8.5 0Z" fill="#C4C4C4")
          .review--text
            p Дорогая но очень качественная паста. Купила по совету стоматолога и не пожалела. Очень хорошо очищает и оставляет приятную свежесть. Брала из за пародонтоза. Сейчас кровоточивость не наблюдаю.
      button(class="slide-prev" type="button")
        img(src="img/btn-prev.png", alt="")
      button(class="slide-next" type="button")
        img(src="img/btn-next.png", alt="")
      button(class="add-review" type="button") Добавить отзыв
    .box
      .footer--form.d-flex.w-100.ai-center.justify-center
        span(class="footer--form__text") УЗНАВАЙТЕ ПЕРВЫМИ О РАСПРОДАЖАХ И НОВИНКАХ!
        form(class="d-flex ai-center" action="")
          input(class="footer--form__input" name="email" type="text" placeholder="E-mail")
          button(class="footer--form__btn" type="submit") подписаться
