@include media( 1200 )
  .footer--form
    flex-direction: column
  .footer--form__text
    margin-bottom: 25px
    font-size: 12px
  .footer__central .footer__menu
    display: none
@include media( 992 )
@include media( 800 )
  .cart--content .cart--header
    font-size: 11px
@include media( 768 )
  .breadcrumbs
    display: none
  .delivery--content .delivery--item
    max-width: 100%
    flex: 0 0 100%
    margin-bottom: 30px
    padding-right: 0px
  .delivery--content .delivery--item__img
    width: 55px
    height: 55px
    margin-right: 20px
    & img
      max-width: 50%
  .delivery--content .delivery--item .delivery--name
    font-size: 16px
  .delivery--content .delivery--item .delivery--text
    font-size: 14px
  .footer__right,
  .footer__contacts,
  .footer__central .footer--logo,
  .header__menu,
  .header__management .header--currency,
  .header__management .header--lang
    display: none
  .footer__central
    width: 100%
    padding: 0px
  .footer
    padding: 14px 0px
  .header__body
    position: relative
  .header__logo
    position: absolute
    left: 50%
    transform: translateX(calc(-50% - 10px))
  .footer--form form .footer--form__btn
    max-width: 150px
    font-size: 11px
  .footer--form form .footer--form__input
    font-size: 13px
    width: calc(100% - 150px)
  .pagetitle
    margin-bottom: 30px
  .contacts--section
    max-width: 100%
    flex: 0 0 100%
  .contacts--section .contacts--item
    font-size: 16px
    margin-bottom: 15px
  .contacts--section
    margin-bottom: 20px
  .contacts--section .contacts--item .contacts--list a
    font-size: 16px
  .cart--content .cart--header
    display: none
  .cart--content .cart--body .cart--item__counter .item--btn
    display: none
  .cart--content .cart--body .cart--item__total
    display: none
  .cart--content .cart--body .cart--item__name
    width: 70%
    padding-left: 15px
  .cart--content .cart--footer
    margin-bottom: 40px
  .cart--content .cart--body .cart--item__name .item--text
    margin-bottom: 12px
  .cart--content .cart--body .cart--item__counter
    flex-direction: column-reverse
    justify-content: space-between
    width: 50px
  .cart--content .cart--body .cart--item .item--remove
    width: 100%
  .custom-checkbox--container .checbox--custom
    width: 20px
    height: 20px
  .cart--checkout__left,
  .cart--checkout__right
    max-width: 100%
    flex: 0 0 100%
    padding: 0px
  .cart--checkout__right .right--form-field .custom-checkbox--container .checkbox--text,
  .cart--checkout__right .right--form-field .custom-checkbox--container .checkbox--text span
    font-size: 14px
  .cart--checkout__right .right--form-field .custom-checkbox--container
    padding-left: 40px
  .cart--checkout form
    margin-bottom: 40px
@include media( 600 )
  .footer--form form:after
    right: -3%
    top: -40%
  .cart--content .cart--footer__btns,
  .cart--checkout .cart--footer__btns
    flex-direction: column
    margin-bottom: 30px
    & .link--btn
      width: 100%
      &:first-of-type
        order: 2
        margin-top: 10px