@include media( 1200 )
  .footer--form
    flex-direction: column
  .footer--form__text
    margin-bottom: 25px
    font-size: 12px
  .footer__central .footer__menu
    display: none
@include media( 992 )
  .catalog--section__products .catalog--product
    width: 33.33%
  .catalog--banner__big-img
    width: 30%
    top: 80px
  .catalog--section__title:after
    width: 40%
  .catalog--banner__content .banner--text
    position: relative
    z-index: 9999
  .reviews--title:after,
  .reviews--title:before
    width: 28%
  .catalog--section__title span.emoflour:after
    top: -18px
@include media( 800 )
  .cart--content .cart--header
    font-size: 11px
  .reviews--title:after,
  .reviews--title:before
    width: 25%
@include media( 768 )
  .breadcrumbs
    display: none
  .delivery--content .delivery--item
    max-width: 100%
    flex: 0 0 100%
    margin-bottom: 30px
    padding-right: 0px
  .delivery--content .delivery--item__img
    width: 55px
    height: 55px
    margin-right: 20px
    & img
      max-width: 50%
  .delivery--content .delivery--item .delivery--name
    font-size: 16px
  .delivery--content .delivery--item .delivery--text
    font-size: 14px
  .footer__right,
  .footer__contacts,
  .footer__central .footer--logo,
  .header__menu,
  .header__management .header--currency,
  .header__management .header--lang,
  .catalog--section__title:before,
  .catalog--section__title:after,
  .reviews--title:after,
  .reviews--title:before
    display: none
  .footer__central
    width: 100%
    padding: 0px
  .footer
    padding: 14px 0px
  .header__body
    position: relative
  .header__logo
    position: absolute
    left: 50%
    transform: translateX(calc(-50% - 10px))
  .footer--form form .footer--form__btn
    max-width: 150px
    font-size: 11px
  .footer--form form .footer--form__input
    font-size: 13px
    width: calc(100% - 150px)
  .pagetitle
    margin-bottom: 30px
  .contacts--section
    max-width: 100%
    flex: 0 0 100%
  .contacts--section .contacts--item
    font-size: 16px
    margin-bottom: 15px
  .contacts--section
    margin-bottom: 20px
  .contacts--section .contacts--item .contacts--list a
    font-size: 16px
  .cart--content .cart--header
    display: none
  .cart--content .cart--body .cart--item__counter .item--btn
    display: none
  .cart--content .cart--body .cart--item__total
    display: none
  .cart--content .cart--body .cart--item__name
    width: 70%
    padding-left: 15px
  .cart--content .cart--footer
    margin-bottom: 40px
  .cart--content .cart--body .cart--item__name .item--text
    margin-bottom: 12px
  .cart--content .cart--body .cart--item__counter
    flex-direction: column-reverse
    justify-content: space-between
    width: 50px
  .cart--content .cart--body .cart--item .item--remove
    width: 100%
  .custom-checkbox--container .checbox--custom
    width: 20px
    height: 20px
  .cart--checkout__left,
  .cart--checkout__right
    max-width: 100%
    flex: 0 0 100%
    padding: 0px
  .cart--checkout__right .right--form-field .custom-checkbox--container .checkbox--text,
  .cart--checkout__right .right--form-field .custom-checkbox--container .checkbox--text span
    font-size: 14px
  .cart--checkout__right .right--form-field .custom-checkbox--container
    padding-left: 40px
  .cart--checkout form
    margin-bottom: 40px
  .catalog--section__products .catalog--product
    width: 100%
    min-height: initial
    border-bottom: 2px solid #E5E5E5
  .catalog--section__products .catalog--product__content
    flex-direction: initial
    flex-wrap: wrap
    align-items: flex-start
    justify-content: flex-start
    padding: 0px
    position: initial
  .catalog--section__products .catalog--product__name
    font-weight: normal
    width: 100%
    text-align: left
  .catalog--section__products .catalog--product__img
    width: 60px
    height: auto
    margin-bottom: 0
    margin-right: 35px
  .catalog--section__products .catalog--product__oldprice,
  .catalog--section__products .catalog--product .link--btn,
    display: block
  .catalog--section__products .catalog--product__discount
    display: flex
    width: 42px
    height: 42px
    right: initial
    left: 20px
    left: 40px
    top: 0
  .catalog--section__title,
  .catalog--section
    margin-bottom: 30px
  .main
    overflow: hidden
  .catalog--banner__content .banner--paralax
    right: -150px
  .catalog--banner
    margin-bottom: 50px
  .catalog--banner__content
    height: auto
  .reviews .review--text
    padding: 15px
  .reviews--title span
    font-size: 13px
  .catalog--section__title span.emoflour:after
    z-index: -1
  .catalog--section__products .catalog--info
    width: calc(100% - 100px)
    align-items: flex-start
    justify-content: flex-start
    flex-direction: initial
    flex-wrap: wrap
  .catalog--section__products .catalog--product__oldprice
    margin-top: 10px
    margin-right: 15px
  .catalog--section__products .catalog--product__price
    margin: 0
    width: 70%
    text-align: left
  .catalog--section__products .catalog--product .link--btn
    padding: 10px 20px
    margin: 10px 0px
@include media( 600 )
  .footer--form form:after
    right: -3%
    top: -40%
  .cart--content .cart--footer__btns,
  .cart--checkout .cart--footer__btns
    flex-direction: column
    margin-bottom: 30px
    & .link--btn
      width: 100%
      &:first-of-type
        order: 2
        margin-top: 10px
  .catalog--banner__content .banner--text
    padding-left: 100px
  .catalog--banner__content .banner--text .banner--title
    font-size: 15px
  .catalog--banner__content .banner--text .banner--description
    font-size: 13px
  .catalog--banner__content .banner--paralax img
    max-width: 55%
  .catalog--banner__content .banner--paralax
    right: -65%
  .banner--img img
    max-width: 70%
  .catalog--banner__big-img
    top: 25px
  .reviews .add-review
    width: 100%
    margin: 0 auto
  .reviews
    margin-bottom: 20px
@include media( 450 )
  .catalog--banner__content .banner--text
    padding-left: 70px
  .catalog--banner__content .banner--paralax img
    max-width: 35%
  .catalog--banner__content .banner--paralax
    right: -90%
@include media( 350 )
  .catalog--banner__content .banner--text .banner--title
    font-size: 12px